
<section class="mt-2">
    <div class="row">
        <div class="col-lg-5">
            <h5 class="ml-3">Publish an offer</h5>
            <hr class="mt-0 bg--primary"/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <form class="p-2 shadow" [formGroup]="publishOfferForm" (ngSubmit)="onSubmit()"app-m-alert>    
                <div class="mb-3 form-input">
                    <input type="text"
                    class="form-control"
                    id="title"
                    formControlName="title" 
                    placeholder="title"
                    required/>
                </div>
                <div class="mb-3 form-input">
                    <input type="text"
                    class="form-control fontAwesome"
                    id="company"
                    formControlName="company" 
                    placeholder="&#xf1ad; company"
                    required/>
                </div>
                <div class="form-group">
                  <textarea class="form-control" formControlName="description" name="" id="description" rows="4" placeholder="description" required></textarea>
                </div>
                <app-upload-files></app-upload-files>
                <div class="text-center container">
                    <div class="row d-flex justify-content-around">
                        <button data-toggle="collapse" href="#publishOfferForm"
                        class="btn btn--outline-primary" (click)="cancel()"
                        [ngClass]="{'btn--disabled':publishOfferForm.invalid}"
                        >Cancel</button>

                        <button type="submit"                                            
                        class="btn btn--outline-primary"
                        [ngClass]="{'btn--disabled':publishOfferForm.invalid}"
                        >Publish</button>
                    </div>
                    
                </div> 
            </form>                                                                                                         
        </div>
    </div>
</section>
