<app-nav-home></app-nav-home>
<section>
    <div class="container">
        <div class="row">
            <div class="col col-lg-8">
                <form class="form mt-3">
                    <input class="form-control mr-2" type="search" placeholder="Search people, post, company, ..." aria-label="Search">
                    <button class="btn btn--outline-primary " type="submit"><i class="fa fw fa-search"></i></button>
                </form>
                
            </div>  
        </div>
        
        <div class="row mt-5">
            <div class="col col-lg-8">
                <p>Results search</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col col-lg-8">
                <app-result-list></app-result-list>
            </div>
        </div>
    </div>
</section>
