
<section class="mt-2">
    <div class="row">
        <div class="col-lg-5">
            <h5 class="ml-3">Publish an event</h5>
            <hr class="mt-0 bg--primary"/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <form class="p-2 shadow" [formGroup]="publishEventForm" (ngSubmit)="onSubmit()">    
                <div class="mb-3 form-input">
                    <input type="text"
                    class="form-control"
                    id="title"
                    formControlName="title" 
                    placeholder="title"
                    required/>
                </div>
                <div class="mb-3 form-input">
                    <input type="text"
                    class="form-control fontAwesome"
                    id="place"
                    formControlName="place" 
                    placeholder="&#xf041; place"
                    required/>
                </div>
                <div class="mb-3 form-input">
                    <label for="date" class="form-label col-3 mr-0">
                        <i class="fa fa-fw fa-calendar mr-0 mr-sm-5">&nbsp;date</i>
                    </label>
                    <input type="date"
                    class="form-control col"
                    id="date"
                    formControlName="date" 
                    required/>
                </div>
                <div class="mb-3 form-input">
                    
                    <label for="start" class="form-label col-3 col-sm-2 mr-1 mr-sm-3">
                        <i class="fa fa-fw fa-clock mr-0 mr-sm-5">&nbsp;Start</i>
                    </label>
                    <input type="time"
                    class="form-control col p-0"
                    id="start"
                    formControlName="start"
                    required/>
                    
                    <label for="end" class="form-label col-3 col-sm-2 mr-1">
                        <i class="fa fa-fw fa-clock mr-5">&nbsp;End</i>
                    </label>
                    <input type="time"
                    class="form-control col p-0"
                    id="end"
                    formControlName="end"
                    required/>
                </div>
                <div class="form-group">
                  <textarea class="form-control" formControlName="description" name="" id="description" rows="4" placeholder="description" required></textarea>
                </div>
                <app-upload-files></app-upload-files>
                <div class="text-center container">
                    <div class="row d-flex justify-content-around">
                        <button data-toggle="collapse" href="#publishEventForm"
                        class="btn btn--outline-primary" (click)="cancel()"
                        [ngClass]="{'btn--disabled':publishEventForm.invalid}"
                        >Cancel</button>

                        <button type="submit" 
                        class="btn btn--outline-primary"
                        [ngClass]="{'btn--disabled':publishEventForm.invalid}"
                        >Publish</button>
                    </div>
                    
                </div> 
            </form>
        </div>
    </div>
</section>
