<div class=" px-3 py-2 notif" [ngClass]="{'unread':!isRead}">
    <div class="notif-content  mr-2">
        <div class=""> <img src="../../assets/images/logoEAA.jpeg" width="50px" height="50px"/></div>
        <div>
            <div class="">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."</div>
            <div class="notif-date small">1d</div>
        </div>
        
    </div>
    <a role="button" class="primary ml-3"><i class="fa fw fa-ellipsis-h"> </i></a>
</div>