<section class="  p-3 m-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col text-center mb-3">
                <img src="assets/images/logoEAA.jpeg" width="200" height="200" alt="Logo du site" />
                <p class="quote">Let's reconnect !</p>
            </div>

            <div class="col-lg-4 col p-4 m-sm-5 form shadow-lg" >
                <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" ngNativeValidate>
                    <div class="signupMessage alert-danger"
                    *ngIf="resetPasswordMessage != '' ">
                        <p>{{resetPasswordMessage}}</p>
                    </div>

                    <div class="mb-2">
                        <label for="password" class="form-label">New password</label>
                        <div class="passwordDiv">
                            <input type="password"
                                    class="form-control"
                                    id="password"
                                    formControlName="password"
                                    appPassword 
                                    required />
                        </div>
                    </div>
                    <div class="mb-1 small text-danger"
                               *ngIf="password?.errors?.minlength"><p>The password must contain at least 6 characters !</p>
                    </div>
                    <div class="mb-1 small text-danger"
                               *ngIf="!password?.errors?.minlength && password?.errors?.pattern"><p>The password must contain at least one special character !</p>
                    </div>
                    <div class="mb-2">
                        <label for="passwordConfirmation" class="form-label">Password Confirmation</label>
                        <div class="passwordDiv">
                            <input type="password"
                                    class="form-control"
                                    id="passwordConfirmation"
                                    formControlName="passwordConfirmation"
                                    appPassword 
                                    required />
                        </div>
                    </div>
                    <div class="mb-1 small text-danger"
                               *ngIf="resetPasswordForm.hasError('notSame')"><p>The inputs don't match !</p>
                    </div>

                    <div class="text-center">
                        <button type="submit"
                        class="btn btn--outline-primary"
                        [ngClass]="{'btn--disabled': resetPasswordForm.invalid}"
                         >Reset password</button>
                    </div> 
                    <hr>
                    <div class="text-center mt-2">
                        <a routerLink="/auth/signin">Already have an account? Sign in</a>
                    </div>   
                </form>
                
                <div class=" d-flex align-items-end flex-column mt-2 " >
                    <br>
                    <a routerLink="/">Go back to home</a>
                </div>
            </div>
        </div>

    </div>

</section>