<app-nav-home></app-nav-home>
<section class="container  mt-5">
    <div class="row">
        <div class="col-4 left">
            <div class="left-photo">
                <div><img src="../../assets/images/logoEAA.jpeg" width="50px" height="50px"/><!--<i class="fa fa-fw fa-pencil"></i>--></div>
                <div>John DOE</div>
                <div>Student</div>
                <p class="mt-1"><a role="button" routerLink="/settings/modifyprofile" class="btn btn--sm btn--primary">Modify profile</a></p>
            </div>
        </div>
        <div class="col-8 right">
            <h5 class=" ">Personal informations</h5>
            <div class="line"><span>Name:</span><span>John DOE</span></div>
            <div class="line"><span>Email:</span><span>johndoe@gmail.com</span></div>
            <div class="line"><span>Date of birth:</span><span>01/01/01 (20 YO)</span></div>
            <div class="line"><span>Username:</span><span>johndoe4</span></div>
            <div class="line"><span>Phone:</span><span>+237 64543434343</span></div>
            <div class="line"><span>Position:</span><span>Student</span></div>
            <div class="line"><span>Address:</span><span>Melen, Yaounde</span></div>
            <div class="line"><a class="btn btn--primary" role="button" routerLink="/settings/viewcv">See CV</a><a class="btn btn--primary" role="button" routerLink="/settings/modifycv">Modify CV</a><button class="btn btn--primary">Print CV</button></div>
        </div>
    </div>
</section>